.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
}

.header img{
  width: 60px;
  margin-top: 5px;
  margin-left: 15px;
  
}

